:root {
  --color-white: #ffffff;
  --color-gray: #9e9e9e;
  --color-bg: #333333;
  --color-sidebar-bg: #2c2c2c;
  --color-tab-hover: #333333;

  --p-inline: 1rem;
  --p-block: 2rem;
  --row-gap: 2rem;
  --col-gap: 1rem;
  --border-radius: 1rem;

  --fs-small: 0.8rem;
  --fs-medium: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-bg);
  font-family: "Poppins";
}
ul,
menu {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.sidebar {
  height: 100vh;
  width: fit-content;
  background-color: var(--color-sidebar-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-gray);
  padding-inline: var(--p-inline);
  padding-block: var(--p-block);
  border-radius: var(--border-radius);
  clip-path: inset(0 calc(100% - 120px) 0 0);

  & .sidebar-top {
    width: 100%;
    display: grid;
    grid-template-rows: 4rem 4rem 1fr;
    row-gap: var(--row-gap);
    /* outline: 1px solid red; */

    & .header {
      padding-inline: var(--p-inline);
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: var(--col-gap);
      /* outline: 1px solid red; */

      & .name {
        font-size: var(--fs-medium);
        color: var(--color-white);
        flex: 1;
      }
    }

    & .search-box {
      padding-inline: var(--p-inline);
      width: 100%;
      border-radius: var(--border-radius);
      background-color: var(--color-tab-hover);

      & > * {
        padding-block: calc(var(--p-block) * 0.75);
      }

      & input {
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        padding-inline-start: calc(var(--p-inline) * 0.5);
        color: var(--color-white);
      }
    }

    & .side-nav__link {
      padding: var(--p-inline);
      width: 100%;
      border-radius: calc(var(--border-radius) * 0.5);
      /* outline: 1px solid red; */

      & .icon {
        height: 25px;
      }
    }

    & :where(.search-box, .side-nav__link, .header) .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      /* outline: 1px solid lime; */
      /* outline: 1px solid red; */
    }

    & .side-nav__item:hover .side-nav__link {
      background-color: var(--color-tab-hover);
    }
  }

  & .sidebar-bottom {
    width: 100%;

    & .profile {
      padding: var(--p-inline);
      padding-block: var(--p-block);
      border-radius: calc(var(--border-radius) * 0.5);
      background-color: var(--color-tab-hover);

      & .profile-details {
        display: flex;
        flex-direction: column;
      }
      & .user-name {
        color: var(--color-white);
      }
      & .user-email {
        font-size: var(--fs-small);
      }
    }
  }

  :where(.sidebar-top, .sidebar-bottom)
    :is(.search-box, .side-nav__link, .profile) {
    display: grid;
    grid-template-columns: 36px 1fr;
    column-gap: var(--col-gap);
  }
  :where(.sidebar-top, .sidebar-bottom)
    :is(.text, .user-search, .profile-details > *, .name, .logo, #id) {
    display: none;
  }

  &:hover {
    clip-path: inset(0 0% 0 0);

    :where(.sidebar-top, .sidebar-bottom)
      :is(.text, .user-search, .profile-details > *, .name, .logo, #id) {
      display: block;
    }
  }
}
